
main{
    background-image:url("../images/colis-preparation-livraison-1024x683-1-300x200.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
  
}
#cont{
   
    padding: 15px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.474);
}

button{
    width: 200px;
    padding: 10px;
    background-color: rgb(0, 106, 255);
    color: white;
    border-style: none;
    cursor: pointer;
    margin-top: 20px;
}
#contact #para{
   
    padding: 29px 29px;
    text-align: center;
    color: white;
    font-weight: 900;
   
}
.import{
    font-size: 30px;
}
#contact #para p {
    margin-top: 20px;
}
/* #############second-block-#################"" */
#form_contact{
    background-color: rgb(0, 106, 255);
    color: white;
    text-align: center;
    padding: 29px 29px;
    width: 80%;
}
