*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
   
}
body{
     background-color: rgb(0, 106, 255);
}

   
 
/* #logo{
    position: absolute;
    top: 10px;
} */

.navbar {
  
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
}
.nav-links ul li{
    margin: 0 50px;
    
}

#burger{
    position: absolute;
    display: none;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
}



/* #############-top-page-############### */
.f-block div{
    position: relative;
    width: 80%;
    
    margin: 0 auto;
}

#livreur{
    width: 100%;
    height: 100%;
}

#formulaire{
    background-color: white;
}
h1{
    position: absolute;
    z-index: 1;
   top: 70px;
   left: 70px;
   color: white;
}
.f-block #first {
    position: absolute;
    
    top: 140px;
    left: 20px;
    padding: 50px 0;
    color: white;
    
}
.f-block #second {
    position: absolute;
    
    top: 250px;
    left: 20px;
    padding: 50px 0;
    color: white;
    
}
/* #######formulaire##### */
 #truck{
     width: 100px;
    height: 100px;
    margin: 5% 30%;
 }
 form{
   
     margin: 10% ;
    }
    
 #prenom{
     padding: 15px;
    background-color: rgb(175, 175, 175);
    border-style: none;
    font-weight: 800;
    width: 80%;
}
#telephone{
    padding: 15px;
    background-color: rgb(175, 175, 175);
    border-style: none;
    font-weight: 800;
    margin-top: 20px;
    width: 80%;
    
} 
#services{
    padding: 15px;
    background-color: rgb(175, 175, 175);
    border-style: none;
   
    margin-top: 20px;
    width: 95%;
}

#formulaire p{
    width: 80%;
    color: gray;
    margin: 10% 10%;
}



/* ##############"landing-page-################" */

#s-block{
    position: relative;
    display: block;
    width: 80%;
 
    background-color: white;
    margin: 10% 10%;
    
    
}
#first_block {
    
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    text-align: center;
}
#first_block div{
    padding: 10% 0;
} 

#second_block{
    
    top: 700px;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
    justify-content: space-between;
    
}
 #second_block div{
    padding: 10% 0;
} 





/* ####################nos-services-###############"" */
.services div{
    
    /* border: 2px solid black; */
    background-color: white;
    width: 80%;
    text-align: center;
    margin: 10% 10%;
    padding: 10%  0;
  
}
.services div p{
    margin: 10% 0;
}
#nos-services{
    text-align: center;
    padding: 15px;
}
main{
    background-color: white;
}
.services div:hover{
    background-color:rgb(0, 106, 255);
    color: white;
}
/* ################footer############### */
footer div{
    text-align: center;
}
footer div p{
    padding: 3% 0;
    color: grey;
}
.titre{
    color: black;
}





@media screen and (min-width:901px) {
    .f-block{
        display: flex;
        width: 80%;
        margin: 0 auto;
        
    }
    #services{
        width: 85%;
      }
      .services{
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    #s-block{
        width: 80%;
        height: 100vh;
        background-image: url(../images/car-background-2-1024x708.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #first_block{
        display: flex;
    }
    #second_block{
        display: flex;
    }
    h2{
        text-align: center;
    }
    #nos-services{
        text-align: center;
        font-size: 40px;
        padding: 50px;
    }
    #footer{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        /* background-color: rgb(0, 106, 255); */
        
    }
    #paypal{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-top: 100px;
    }
    .nav-links ul a::after{
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .3s;
        
    }
    .nav-links ul a:hover::after{
        width: 120%;
    }
    .nav-links ul a{
        color: white;
    } 
    #faq{
        display: flex;
        width: 80%;
        margin: 0 auto;
    }
    #contact{
        border: 2px solid black;
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }
    section #form_contact{
        width: 40%;
    }
    #para{
       
        margin: 0 auto;
        margin-top: 50px;
       
    }
    #para p{
          margin: 50px 20px;
    }
    #paragraph_titre{
        text-align: center;
        color: white;
        margin-top: 50px;
    }
    #paragraph_titre h2{
        font-size: 35px;
    }
   
   

    /* #footer p{
        color: white;
    }
     */
       
   
    
}
@media screen and (max-width:900px){
    .nav-links{
        z-index: 2;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.288);
        backdrop-filter: blur(4px);
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    } 
    .nav-links ul{
      
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links.mobile-menu{
        
        margin-left: 0;
    }
    #burger{
        position: absolute;
        z-index: 2;
        display: block;
    }
    .nav-links ul li{
        margin: 25px 0;
        font-size: 1.5em;
    }
    #livreur{
        width:100% ;
        height: 100vh;
    }
    h2{
        text-align: center;
    }
    .nav-links ul a{
        color: rgb(0, 106, 255);
    } 
    #paragraph_titre{
        text-align: center;
        color: white;
        margin-top: 50px;
    }
    #paragraph_titre h2{
        font-size: 35px;
    }

   
}